apiVersion: apps/v1
kind: Deployment
metadata:
  name: finops-dashboard
  namespace: finops
  labels:
    app: finops-dashboard
spec:
  replicas: 2
  selector:
    matchLabels:
      app: finops-dashboard
  template:
    metadata:
      labels:
        app: finops-dashboard
    spec:
      containers:
        - name: streamlit
          image: "752725527618.dkr.ecr.us-east-1.amazonaws.com/finops-dashboard:latest"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8501
              name: http
          envFrom:
            - configMapRef:
                name: finops-config
            - secretRef:
                name: finops-secrets
          volumeMounts:
            - name: finops-data
              mountPath: /app/data
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 60
            periodSeconds: 20
      volumes:
        - name: finops-data
          persistentVolumeClaim:
            claimName: finops-data
