apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: finops-data
  namespace: finops
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: gp2
